.main-header{
    display: flex;
    justify-content: space-between;
    background-color: #f3dc4d;
    border-bottom: 10px solid black;
    padding: 10px 20px
}

.main-header .logo {
        border: 5px solid #5dabc1;
        border-radius: 10%;
        height: 50px;
        width: 50px;
    }