.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/background2.png);
    background-repeat: round;
    height: 800px;
    border-bottom: 10px solid #1b282c;
    padding-left: 90px;
    padding-top: 205px;
}

.main-banner .wrapper-banner{
    width: 550px;

}

.main-banner .box-title {
    margin-bottom: 40px;
}

.main-banner .nav-buttons {
    display: flex;
    justify-content: space-around;
}
