.main-title {
    font-size: 30px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #5dabc1;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    margin-bottom: 60px;
}