.main-section {
    background-color: #5dabc1;
    border-bottom: 10px solid #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section.-projetos {
    background-color: #5b2d27;
    border-bottom: 10px solid #000;
}

.main-section.-about {
    background-color: #183946;
}

.main-section.-about .main-text {
    width: auto;
    height: auto;
    margin: 0px 80px;
}