.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.main-carousel::after {
    content: '';
    position: absolute;
    display: block;
    left: 40px;
    top: 28px;
    height: 5px;
    width: calc(100% - 80px);
    background-color: #000;

}

.main-carousel::before {
    content: '';
    display: block;
    left: 0;
    top: 28px;
    width: 100%;
    box-sizing: border-box;
    border-top: 5px dashed #000;
    position: absolute;

}

.main-carousel .button-arrow{
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .button-arrow.-left {
    left: 15px;
}