.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.node-card::before {
    content: '';
    height: 40px;
    box-sizing: border-box;
    border-left: 5px dashed #000;
    position: absolute;
    bottom: 137px;
    transform: translateX(50%);
}

.node-card .title {
    color: #da1f44;
    font-size: 25px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 140px;
    background-color: #fff;
    padding: 10px 15px;
    border: 5px solid #000;
}

.node-card .logo .img {
    width: 146px;
}

.node-card .logo.-odd {
    background-color: #ffe266;
}