.skill-list {
    display: flex;
    font-size: 25px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #FFF;
    align-items: center;
}

.skill-list .icon {
    margin-right: 25px;
    width: 90px;
    font-size: 5px;
    color: #000;
}

.skill-list .title {
    margin-bottom: 10px;
}

.skill-list .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
